# The model name for Ollama.
MODEL_NAME="qwen3-vl:8b"
LITELLM_LOG="ERROR"

# The host for the Ollama API.
OLLAMA_API_HOST="http://localhost:11434"

# You can skip adding Langfuse API keys. Refer to the README on how to disable tracing with Langfuse.
LANGFUSE_SECRET_KEY="sk-lf-"
LANGFUSE_PUBLIC_KEY="pk-lf-"
LANGFUSE_HOST="https://cloud.langfuse.com"
